In [ ]:
import pandas as pd

In [ ]:
file = "/content/drive/MyDrive/avd/used_car_dataset.csv"
df = pd.read_csv(file)

df

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,10,"105,904 km",Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel","₹ 10,40,000"
9578,Maruti Suzuki,Alto-800,2020,4,"55,000 km",Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...","₹ 3,75,000"
9579,Maruti Suzuki,Ritz,2013,11,"92,000 km",Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel","₹ 4,15,000"
9580,Hyundai,Verna,2019,5,"72,000 km",Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol","₹ 8,55,000"
9581,Hyundai,New i20,2021,3,"83,228 km",Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol","₹ 6,99,000"

# **ANALISIS HARGA MOBIL BEKAS**

# **Business** **Understanding**

## **Business Objective**

* Deskripsi

Dataset ini berisi informasi terperinci mengenai inventaris mobil bekas yang mencakup berbagai merek, spesifikasi teknis, dan riwayat penggunaan. Data ini merepresentasikan kondisi pasar mobil bekas saat ini berdasarkan data unggahan hingga November 2024 yang mencakup berbagai segmen, mulai dari mobil ekonomi hingga kendaraan mewah.

* Tujuan Analisis Bisnis

Membangun sistem pendukung keputusan yang mampu memberikan rekomendasi harga jual terbaik secara otomatis guna mempercepat perputaran inventaris dan memaksimalkan profitabilitas dealer atau platform.

## **Asses Situation**

*   Ketersediaan Data: Dataset mencakup atribut fisik kendaraan dan riwayat penggunaan.

*   Kendala Data: Terdapat inkonsistensi format pada kolom numerik serta variasi pada informasi tambahan yang memerlukan pra-pemrosesan mendalam agar dapat diolah oleh mesin.

*   Risiko Proyek: Perubahan regulasi emisi atau tren pasar dapat mempengaruhi akurasi prediksi model terhadap data di masa depan jika model tidak diperbarui secara berkala.

## **Analytic Goals & Project Plan**

Apa yang ingin kita minta dari data?

* Membuat Prediksi Harga: Membuat sebuah "mesin pintar" yang bisa menebak harga jual mobil secara otomatis hanya dengan memasukkan data seperti merek, tahun, dan jarak tempuh.

* Melihat Akurasi: Memastikan tebakan mesin tersebut tidak meleset jauh dari harga asli di pasar.

* Mencari Faktor Penentu: Mencari tahu hal apa yang paling bikin harga mobil anjlok. Apakah karena usianya yang sudah tua, jarak tempuhnya yang sudah jauh, atau karena merek tertentu memang punya harga purna jual yang lebih rendah.

Langkah apa saja yang akan dilakukan?

* Merapikan Data : Membersihkan data yang berantakan, seperti menghapus simbol mata uang (₹) dan tulisan "km" agar semua menjadi angka yang bisa dihitung oleh komputer.

* Mengenal Data : Melihat tren unik, misalnya: "Apakah mobil transmisi matic selalu lebih mahal dari manual?" atau "Merek apa yang paling banyak dijual?"

* Menyiapkan Fitur: Mengubah informasi teks menjadi format yang dimengerti mesin agar bisa masuk ke dalam rumus prediksi.

* Uji Coba Model: Mencoba beberapa metode perhitungan untuk melihat mana yang paling jago dan akurat dalam menebak harga.

* Evaluasi & Laporan: Mengecek hasil akhir, memastikan model sudah siap pakai, dan merangkum hasilnya menjadi rekomendasi bisnis yang bermanfaat.